#main-container{
	max-width:1200px;
	margin:0 auto;
	padding:20px 0px;
}
#main-container table{
	border-collapse: collapse;
}
.sbox{
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 5px 5px 3px lightgray;
}
/* input 밑줄 */
.ul-input{
    font-size: 16px;
    width: 100%;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    transition:0.12s ease;
}
.ul-input:focus{
	outline:none;
	border-bottom: 2px solid skyblue;
}
/* 버튼 */
.oi-btn button, .oi-btn input::file-selector-button{
	padding:3px 7px;
	border-radius:8px;
	border:2px outset #888;
	background-color:#eee;
}
.oi-btn button:hover, .oi-btn input::file-selector-button:hover{
	background-color:#ddd;
}
.oi-btn button:active, .oi-btn input::file-selector-button:active{
	background-color:#ccc;
	border-style:inset;
}
/* float */
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.float-clear{
	content:'';
	display:block;
	clear:both;
}
/* text-align */
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
/* font */
.font-big{
	font-size:1.3em;
}
.font-small{
	font-size:0.7em;
}
.font-gray{
	color:gray;
}
.font-sgray{
	color:slategray;
}
.font-blue{
	color:blue;
}
.font-lsblue{
	color:lightskyblue;
}
.font-bold{
	font-weight:bold;
}
.pointer{
	cursor:pointer;
}
.dpn{
	display:none;
}