#team_form{
	width:586px;
	padding:20px 5px;
	margin:10px auto;
}
#team_form > h2[class="text-center"]{
	margin-bottom:10px;
}
#team_form table{
	margin:0 auto;
}
#team_form td{
	padding:2px;
}
#team_form td:first-child{
	width:100px;
	padding:1px 2px;
	font-size:18x;
}
#team_form td:nth-child(2){
	width:430px;
}
#team_form tr:last-child button{
	margin:10px 3px 2px;
}
#team_name{
	width:350px;
	height:26px;
	padding:2px;
}
#team_explain{
	width:350px;
	height:200px;
	font-size:16px;
	margin:10px 0;
	padding:5px;
	resize:none;
	border: 2px solid #ddd;
	border-radius: 8px;
	transition:0.12s ease;
}
#team_explain:focus {
	outline:none;
	border: 2px solid skyblue;
}