<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${teamDTO.team_name}+' 게시판'"></title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/tblist.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/js/team/board/tblist.js" defer></script>
	<script type="text/javascript" src="/js/header.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<!-- main-container 시작 -->
<div id="main-container" th:with="params=|team_id=${team_id}&ca=${ca}&ps=${ps}&so=${so}&search=${search}|">

<div class="center-block" style="width:800px;">
	<!--/* 그룹 이름, 이미지 */-->
	<h3 id="team-banner" class="text-center" th:onclick="window.location='list?team_id=[[${team_id}]]'">
		<img th:if="${teamDTO.team_image} != null" th:src="'/team/img?img='+${teamDTO.team_image}" th:alt="${teamDTO.team_name}+' 그룹의 이미지'" />
		<img th:if="${teamDTO.team_image} == null" src="/images/team_default.png" alt="기본이미지" />
		<span id="team-banner-title">[[${teamDTO.team_name}]] 게시판</span>
	</h3>
	
	<!--/* 카테고리, 페이지 당 게시글 수 */-->
	<div class="nodrag" id="under-team-banner">
		<div>
			<div>
				카테고리 : 
				<select id="ca">
					<option value="전체" th:selected="${ca} == '전체'">전체
					<option value="공지사항" th:selected="${ca} == '공지사항'">공지사항
					<option value="일반" th:selected="${ca} == '일반'">일반
					<option value="질문" th:selected="${ca} == '질문'">질문
				</select>
			</div>
			<div>
				페이지 당 게시글 : 
				<select id="ps">
					<option value="15" th:selected="${ps} == 15">15
					<option value="30" th:selected="${ps} == 30">30
					<option value="50" th:selected="${ps} == 50">50
				</select>
			</div>
		</div>
		<button type="button" id="write-btn" th:onclick="|window.location='write?team_id=${team_id}&team_member_id=2'|">글작성</button>
	</div>
</div>

<!--/* 게시글 테이블 */-->
<table id="board-table" class="center-block" th:with="today=${#temporals.createToday()}">
<thead>
	<tr>
		<th>글번호
		<th>카테고리
		<th>제목
		<th>작성자
		<th>작성시간
	</tr>
</thead>
<!--/* 최근 공지사항 10개까지 출력 */-->
<tbody th:if="!${#lists.isEmpty(notice_list)} and ${ca} != '공지사항'" id="notice" >
	<tr th:each="dto, loop : ${notice_list}" th:classappend="${loop.count} > 3 ? fold">
		<td th:text="${dto.team_board_id}">
		<td>공지사항
		<td><a th:text="${dto.tb_title}" 
			th:href="@{|/team/board/view?${params}&pageNum=${pageNum}&tb_id=${dto.team_board_id}|}"></a>
			<span th:if="${dto.vote_id != null}"><img src="/images/vote.png" alt="투표"></img></span>
			<span th:if="${dto.schedule_id != null}"><img src="/images/schedule.png" alt="일정"></img></span>
			<span th:if="${dto.reply_count != null}" class="reply_count" th:text="|(${dto.reply_count})|"></span>
		<td th:text="${dto.tm_nickname}">
		<td th:if="${dto.tb_reg.toLocalDate().isEqual(today)}" th:text="${#temporals.format(dto.tb_reg, 'HH:mm')}">
		<td th:unless="${dto.tb_reg.toLocalDate().isEqual(today)}" th:text="${#temporals.format(dto.tb_reg, 'MM-dd')}">
	</tr>
	<th:block th:if="${#lists.size(notice_list) > 3}">
	<tr class="text-center pointer font-sgray fold-hover" id="unfold">
		<td colspan="5">▼펼치기▼
	</tr>
	<tr class="text-center pointer font-sgray fold fold-hover" id="fold">
		<td colspan="5">▲접기▲
	</tr>
	</th:block>
</tbody>
<!--/* 게시글 출력 */-->
<tbody>
	<tr th:if="${list} != null" th:each="dto : ${list}">
		<td th:text="${dto.team_board_id}">
		<td th:text="${dto.tb_category}">
		<td><a th:text="${dto.tb_title}" 
			th:href="@{|/team/board/view?${params}&pageNum=${pageNum}&tb_id=${dto.team_board_id}|}"></a>
			<span th:if="${dto.vote_id != null}"><img src="/images/vote.png" alt="투표"></img></span>
			<span th:if="${dto.schedule_id != null}"><img src="/images/schedule.png" alt="일정"></img></span>
			<span th:if="${dto.reply_count != null}" class="reply_count" th:text="|(${dto.reply_count})|"></span>
		<td th:text="${dto.tm_nickname}">
		<td th:if="${dto.tb_reg.toLocalDate().isEqual(today)}" th:text="${#temporals.format(dto.tb_reg, 'HH:mm')}">
		<td th:unless="${dto.tb_reg.toLocalDate().isEqual(today)}" th:text="${#temporals.format(dto.tb_reg, 'MM-dd')}">
	</tr>
</tbody>
</table>

<!--/* 1, 2, 3, ... 페이지 */-->
<div id="pageBox" class="nodrag text-center center-block" th:if="${tbCount} > 0">
	<a th:if="${pageNum} > ${pageBlock}" th:href="@{|/team/board/list?${params}&pageNum=${startPage - 1}|}">이전</a>
	<th:block th:each="pnum : ${#numbers.sequence(startPage, endPage)}">
	<a th:href="@{|/team/board/list?${params}&pageNum=${pnum}|}" th:text="${pnum}" th:classappend="${pnum == pageNum} ? 'font-bold'"></a>
	</th:block>
	<a th:if="${endPage} < ${totalPage}" th:href="@{|/team/board/list?${params}&pageNum=${startPage + pageBlock}|}">다음</a>
</div>

<!--/* 게시글 검색 */-->
<form id="listForm" class="center-block nodrag" action="/team/board/list" method="get" onsubmit="return searchCheck()">
	<input type="hidden" name="team_id" th:value="${team_id}">
	<input type="hidden" name="ps" th:value="${ps}">
	<input type="hidden" name="ca" th:value="${ca}">
	<input type="hidden" name="pageNum" th:value="${pageNum}">
	<select id="so" name="so">
		<option value="TC" th:selected="${so} == 'TC'">제목+내용
		<option value="T" th:selected="${so} == 'T'">제목
		<option value="C" th:selected="${so} == 'C'">내용
		<option value="W" th:selected="${so} == 'W'">글쓴이
	</select>
	<input type="text" th:value="${search}" name="search" id="search" placeholder="검색어">
	<button type="submit" id="search_btn">검색</button>
</form>

</div> <!-- main-container 끝 -->

</body>
</html>