<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>게시글 수정</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/tbwrite.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/summernote-lite.min.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/js/team/board/summernote-lite.min.js"></script>
	<script type="text/javascript" src="/js/team/board/summernote-ko-KR.min.js"></script>
	<script type="text/javascript" src="/js/team/board/tbmodify.js" defer></script>
	<script type="text/javascript" src="/js/header.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div id="main-container"> <!-- main-container 시작 -->
<form id="boardform" method="post" th:action="@{modify}" onsubmit="return false">
	<input type="hidden" name="team_board_id" th:value="${dto.team_board_id}">
	<input type="hidden" name="team_id" th:value="${dto.team_id}">
	<span id="ca">
		<span>카테고리 : </span>
		<select name="tb_category" th:with="ca=${dto?.tb_category}">
			<option value="일반" th:selected="${ca} == '일반'">일반
			<option value="질문" th:selected="${ca} == '질문'">질문
			<option th:if="${#strings.contains(tm_grade, 'MASTER')}" value="공지사항" th:selected="${ca} == '공지사항'">공지사항
		</select>
	</span>
	<input type="text" name="tb_title" id="tb_title" th:value="${dto?.tb_title}" placeholder="제목을 입력해 주세요." maxlength="50">
    <div id="summernote"></div>
    <input type="hidden" name="tb_content">

    <div id="btns">
	    <button type="button" class="btn" id="btn_save">저장</button>
	    <button type="button" class="btn" id="btn_reset">리셋</button>
    </div>
</form>
<div id="orgContent" style="display:none" th:utext="${dto?.tb_content}"></div>
</div> <!-- main-container 끝 -->
</body>
</html>