<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<meta name="team_id" th:content="${dto.team_id}">
	<meta name="team_member_id" th:content="${team_member_id}">
	<meta name="team_board_id" th:content="${dto.team_board_id}">
	<meta name="vote_id" th:content="${dto.vote_id}">
	<title th:text="${dto.tb_title}"></title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/tbview.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/team/board/tbview.js" defer></script>
	<script type="text/javascript" src="/js/header.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div id="main-container"> <!-- main-container 시작 -->
<span th:text="${dto.tb_category}"></span>
<h2 id="title" th:text="${dto.tb_title}"></h2>
<div class="float-clear">
	<span>작성자 : <span th:text="${dto.tm_nickname}" th:data-team_member_id="${dto.team_member_id}" class="team_member"></span></span>
	<span class="linkbox float-right">
		<span>작성시간 : [[${#temporals.format(dto.tb_reg, 'yyyy-MM-dd HH:mm:ss')}]]</span>
		<a href="#reply_refresh">댓글로</a>
	</span>
</div>
<hr>

<div id="content">
	<!--/* 게시글 내용 출력 */-->
	<div id="board_content" th:utext="${dto.tb_content}"></div>
	
	<!--/* 일정 출력 */-->
	<div id="schedule" class="optional_content float-clear" th:if="${dto.schedule_id}" th:object="${scheduleDTO}">
		<b th:text="*{schedule_title}"></b>
		<p class="float-right">
		기간 : 
		<span th:text="*{#temporals.format(schedule_start, 'yyyy-MM-dd HH:mm')}"></span><b> ~ </b>
		<span th:text="*{#temporals.format(schedule_end, 'yyyy-MM-dd HH:mm')}"></span>
		</p>
		<br>
		<pre th:utext="*{schedule_content}"></pre>
		
		<div style="width:max-content; margin-left: 10px;">
			<div th:text="*{address}"style="margin-top:5px; text-align: left;"></div>
			<div th:text="*{place}"style="margin-left: 30px;text-align: right;"></div>
		</div>
	</div>
	
	<!--/* 투표 출력 */-->
	<div id="vote" class="optional_content" th:if="${dto.vote_id}"></div>
</div>
<div class="float-clear">
	<span>
		<a id="reply_refresh" href="javascript:void(0);">댓글 새로고침</a>
	</span>
	<span class="linkbox float-right"> <!--/* float:right 때문에 순서 반대 */-->
		<a th:if="${dto.team_member_id == team_member_id} or ${#strings.contains(tm_grade, 'MASTER')}" id="check_delete" href="javascript:void(0);"
			th:data-tb_id="${dto.team_board_id}" th:data-team_id="${dto.team_id}">삭제</a>
		<a th:if="${dto.team_member_id == team_member_id}" th:href="@{|modify?team_id=${dto.team_id}&tb_id=${dto.team_board_id}&team_member_id=${dto.team_member_id}|}">수정</a>
		<a href="#title">본문으로</a>
		<a th:href="@{|list?team_id=${dto.team_id}&ca=${ca}&ps=${ps}&so=${so}&search=${search}&pageNum=${pageNum}|}">목록</a>
	</span>
</div>
<hr color="darkgray">
<div id="reply_box">
	<!--/* 댓글 출력 영역 */-->
	<div id="reply_list">
	</div>
	<!--/* 댓글 작성 영역 */-->
	<form id="reply_form" class="reply_form" onsubmit="return false;">
		<input type="hidden" name="team_board_id" th:value="${dto.team_board_id}">
		<input type="hidden" name="team_id" th:value="${dto.team_id}">
		<textarea name="reply_content" id="reply_content" placeholder="댓글을 작성해 주세요." maxlength="333"></textarea><button type="button" id="reply_btn">등록</button>
	</form>
</div>

</div> <!-- main-container 끝 -->
</body>
</html>