<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<title>게시글 작성</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/tbwrite.css">
	<link rel="stylesheet" type="text/css" href="/css/team/board/summernote-lite.min.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/js/team/board/summernote-lite.min.js"></script>
	<script type="text/javascript" src="/js/team/board/summernote-ko-KR.min.js"></script>
	<script type="text/javascript" src="/js/team/board/tbwrite.js" defer></script>
	<script type="text/javascript" src="/js/header.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div id="main-container"> <!-- main-container 시작 -->

<form id="boardform" method="post" th:action="@{write}" onsubmit="return false">
	<input type="hidden" name="team_id" th:value="${team_id}">
	<input type="hidden" name="team_board_id" th:value="${dto?.team_board_id}">

	<!--/*
		${dto} ? ${dto.tb_title} : '' -> dto가 있으면 dto.tb_title 없으면 ''
			${dto != null} ? ... 해도 됨.
		thymeleaf에서 Elvis 연산자 지원해서 삼항연산자를 짧게 쓸 수 있음.
		${dto?.tb_title}  -> dto가 있으면 dto.tb_title 출력
		${data?} -> data가 있으면 data 출력
		${data} ?: '' -> data가 있으면 data, 없으면 '' 출력
	*/-->

	<span id="ca">
		<span>카테고리 : </span>
		<select name="tb_category" th:with="ca=${dto?.tb_category}">
			<option value="일반" th:selected="${ca} == '일반'">일반
			<option value="질문" th:selected="${ca} == '질문'">질문
			<option th:if="${#strings.contains(tm_grade, 'MASTER')}" value="공지사항" th:selected="${ca} == '공지사항'">공지사항
		</select>
	</span>
	<input type="text" name="tb_title" id="tb_title" th:value="${dto?.tb_title}" placeholder="제목을 입력해 주세요." maxlength="50">
	<!--/* 에디터 영역 */-->
    <div id="summernote"></div>

    <input type="hidden" name="tb_content">
   	<input type="hidden" name="schedule_id" disabled>

	<!--/* 선택한 일정 출력 */-->   	
    <div id="cal_print">
    </div>

    <!--/* 투표 영역 */-->
    <div id="vote" style="display:none;">
	    <div id="head">
	    	<label for="vote_title">제목</label>
	    	<input type="text" name="vote_title" id="vote_title" class="vote_text" placeholder="투표 제목을 입력해주세요." maxlength="50" disabled> <br>
	    	<label for="vote_content">내용(설명)</label>
	    	<textarea name="vote_content" id="vote_content" placeholder="어떠한 투표인지 적어주세요." maxlength="333" disabled></textarea> <br>
	    	<label for="vote_end">투표 종료 시간</label>
	    	<input type="datetime-local" name="vote_end" id="vote_end" step="300" min="" max=""  disabled>
	    	<br>
	    </div>
	    <div id="item">
	    	<p>투표항목 <button type="button" id="new_item" class="btn">추가</button></p>
	    	<input type="text" name="vote_item_name" class="vote_text vote_item" placeholder="항목을 입력해주세요" disabled>
	    	<input type="text" name="vote_item_name" class="vote_text vote_item" placeholder="항목을 입력해주세요" disabled>
	    </div>
    </div>
    
    <div id="btns">
	    <button type="button" class="btn" id="btn_save">저장</button>
	    <button type="button" class="btn" id="btn_reset">리셋</button>
    </div>
</form>

<!--/* 일정 검색 modal창 */-->
<div id="modal">
	<div id="modal_body">
		<div id="modal_search">
			<select id="so" name="so">
				<option value="T" selected>제목
				<option value="D">날짜
			</select>
			<input type="text" name="cal_title" maxlength="50" style="width: 111.33px; height: 21.33px" placeholder="일정 검색">
			<input type="date" name="cal_date" style="display:none;">
			<button type="button" id="cal_search">검색</button>
		</div>
		<div id="modal_result">
		</div>
		<div id="modal_btns">
			<button type="button" id="modal_close">닫기</button>
		</div>
	</div>
</div>

</div> <!-- main-container 끝 -->
</body>
</html>