<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멤버 상태 관리</title>
<link rel="stylesheet" type="text/css" href="/css/admin/admin_aside.css">
<link rel="stylesheet" type="text/css" href="/css/admin/member_manage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<aside th:replace="~{/fragments/adminAside :: adminAside}"></aside>
	<main id="main">
		<div class="adminText">
	 		<span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; ADMIN</span>
	 	</div>
	 	<div class="mainBox">
		     <div class="manageTop">
		     	<span th:text="'총 인원 :'+${statusCount}"></span>
		    	<div class="currentStatus">
		        	회원 상태:
		        	<select id="member_status" name="member_status" onchange="updateMemberStatus()">
		        	    <option value="A" th:selected="${member_status eq 'A'}">전체</option>
		        	    <option value="D" th:selected="${member_status eq 'D'}">탈퇴</option>
		        	    <option value="R" th:selected="${member_status eq 'R'}">복구신청</option>
	            		<option value="B" th:selected="${member_status eq 'B'}">기본</option>
	       	 		</select>
	    		</div>
		    </div>
	    <table class="statusTable">
	    	<tr style=" border-bottom : 2px solid black;">
	    		<th class="statusTh">회원 명</th>
	    		<th class="statusTh">가입 상태</th>
	    		<th class="statusTh">상태</th>
	    		<th class="statusTh">변경</th>
	    	</tr>
	        <tr th:each="MemberDTO : ${MemberALL}" class="statusTr">
	            <td class="statusTd">
	                <span th:text="${MemberDTO.member_name}"></span>
	            </td>
	            <td class="statusTd">
	                <span th:text="${MemberDTO.member_status}"></span>
	            </td>
	            <td class="statusTd">
	                <div class="status_option">
	                    <select class="member_update_status">
	                        <option value="D" th:selected="${MemberDTO.member_status eq 'D'}">탈퇴</option>
	                        <option value="R" th:selected="${MemberDTO.member_status eq 'R'}">복구신청</option>
	                        <option value="B" th:selected="${MemberDTO.member_status eq 'B'}">기본</option>
	                    </select>
	                </div>
	            </td>
	            <td class="confirmButton statusTd" >
	                <button type="button" class="changeStatusBtn" th:value="${MemberDTO.member_id}" onclick="update(this)">확인</button>
	            </td>
	        </tr>
	    </table>
	    <div>
	    </div>
	    <div id="pageBox" th:if="${statusCount > 0}">
	        <a th:if="${pageNum > 1}" th:href="@{|/admin/memberAllStatus?member_status=${member_status}&pageNum=${pageNum - 1}|}">이전</a>
	        <th:block th:each="pnum : ${#numbers.sequence(startPage, endPage)}">
	            <a th:if="${pnum != pageNum}" th:href="@{|/admin/memberAllStatus?member_status=${member_status}&pageNum=${pnum}|}" th:text="${pnum}"></a>
	            <b th:if="${pnum == pageNum}" th:text="${pageNum}"></b>
	        </th:block>
	        <a th:if="${endPage > pageNum}" th:href="@{|/admin/memberAllStatus?member_status=${member_status}&pageNum=${pageNum + 1}|}">다음</a>
	    </div>
	   </div>	
    </main>
    <script src="/js/admin/admin_aside.js"></script>
    <script src="/js/admin/change_status.js"></script>
</body>
</html>
