<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin_aside.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/notice_list.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<aside th:replace="~{/fragments/adminAside :: adminAside}"></aside>
<main id="main">
		<div class="adminText">
	 		<span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; ADMIN</span>
	 	</div>
	<div class="noticeBox">
		<div class="topInBox">
			<div class="countText">	
		  		<span th:text="'총 게시글 : '+${noticeListCount}"></span>
			</div>
		    <div class="selectViewCount">
		        <span class="selectViewCountText">페이지 당 게시글:</span>
		        <select id="ps" name="ps" onchange="location.href='/admin/notice?ps=' + this.value">
		            <option value="10" th:selected="${ps == 10}">10</option>
		            <option value="20" th:selected="${ps == 20}">20</option>
		            <option value="30" th:selected="${ps == 30}">30</option>
		        </select>
		    </div>
			<button type="button" class="writeBtn" onclick="location.href='/admin/noticeWrite'">글 작성</button>
		</div>
	    <table class="noticeTable">
	    	<tr class="no_tr" style=" border-bottom : 2px solid black;">
	    		<th  class="no_th">제목</th>
	    		<th  class="no_th">등록일</th>
	    	</tr>
	        <tr class="no_tr" th:each="noticeDTO : ${noticeList}">
	            <td class="no_td"> 
	            	<a th:href="@{|/admin/noticeContent/${noticeDTO.notice_id}|}"><span th:text="${noticeDTO.notice_title}"></span></a>
	            </td>
	            <td  class="no_td" th:text="${#temporals.format(noticeDTO.notice_reg, 'yyyy/MM/dd')}"></td>
	        </tr>
	    </table>
	    <div id="pageBox" th:if="${noticeListCount > 0}">
	        <a th:if="${pageNum > 1}" th:href="@{|/admin/notice?ps=${ps}&pageNum=${pageNum - 1}|}">이전</a>
	        <th:block th:each="pnum : ${#numbers.sequence(startPage, endPage)}">
	            <a th:if="${pnum != pageNum}" th:href="@{|/admin/notice?ps=${ps}&pageNum=${pnum}|}" th:text="${pnum}"></a>
	            <b th:if="${pnum == pageNum}" th:text="${pageNum}"></b>
	        </th:block>
	        <a th:if="${endPage > pageNum}" th:href="@{|/admin/notice?ps=${ps}&pageNum=${pageNum + 1}|}">다음</a>
	    </div>
    </div>
    </main>
	<script src="/js/admin/admin_aside.js"></script>
</body>
</html>
