@charset "UTF-8";

#alldiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#schedule_count_div{
	text-align:center;
	height:0;
	transform:translateY(-40px);
}
#go-date-div{
	text-align:right;
	height:0;
	transform:translateY(-50px);
}
#go_date_btn{
	padding: 2px 8px;
	vertical-align: bottom;
}
/* /planner/calendar 의 달력 css. */
.calendar {
	display: grid;
	gap: 5px; /* 셀 사이의 간격 설정 */
	border: 1px solid black;
	border-radius: 10px;
	width: 700px;
	min-height: 190px;
	height: 450px;
	margin: 120px 10px 0 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
}
/* 달력이 6줄일 때 */
.calendar:has(.day:nth-child(36)){
	height:515px;
}
/* 달력이 4줄일 때 */
.calendar:not(:has(.day:nth-child(29))){
   height:400px;
}
/* 달 이름을 가운데 정렬 */
.month-name {
	text-align: center;
	display: inline-block;
	font-size: 21px;
	min-width: 120px;
}

/* 요일과 날짜를 그리드로 표시 */
.weekdays, .days {
	margin: auto;
	display: grid;
	font-size: 21px;
	grid-template-columns: repeat(7, 100px);
}

/* 요일과 날짜의 내용을 중앙 정렬 */
.weekdays div, .days .day {
	text-align: center;
	margin: auto;
}

.day {
	width: 90px;
	height: 70px;
	cursor: pointer;
	overflow:hidden;
}
.small-gray{
	color:dimgray;
	font-size:10px;
	white-space: nowrap;
	overflow:hidden;
}
/* 토요일 */
.weekdays div:nth-child(7n) {
	color: #046582; /* 파란색 */
}

/* 토요일 */
.days .day:nth-child(7n) {
	color: #195aa0; /* 파란색 */
}

/* 일요일 */
.weekdays div:nth-child(7n+1) {
	color: red; /* 빨간색 */
}

/* 일요일 */
.days .day:nth-child(7n+1) {
	color: red; /* 빨간색 */
}

/* 달력 내부의 빈공간. */
.blank {
	height: 100%;
}

.btn-calendar {
	width:25px;
	height:21px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    background-color: gray;
	box-shadow: 0 0 2px 2px darkgray;
    color: ghostwhite;
}

/* 오늘의 날짜에 강조 */
.today {
	border: 3px solid rgb(255, 210, 220);
	border-radius: 6px;
}

/* schedule 전체 div 에 씌워짐 */
.schedule-container {
	border: 3px hidden black;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: rgb(255, 255, 255) rgb(255, 255, 255);
	margin: 30px 0 30px 0%;
	width: 800px;
	min-height: 750px;
	max-height: 70vh;
	scrollbar-width: none;
}

.schedule-content {
	border: 1px ridge black;
	border-collapse: collapse;
	border-radius: 5px;
	padding: 0px;
}

.my-div {
	display: none;
	padding-bottom: 5px;
	border: 0px;
}
/*
border-style:insert;

*/
.click-date {
	text-align: left;
	margin-left: 20px;
}

/*			화면에서 스크롤바 지움.		*/
.calendar-body {
	overflow: auto;
}

.text-con {
	margin-left: 15px;
	width: 386px;
	height: 100px;
	resize: none;
	font-size: 13px;
	font-weight: bolder;
}

input {
	margin-left: 15px;
	height: 22px;
	font-size: 13px;
	font-weight: bold;
}

textarea:focus, input:focus {
	outline: none;
}

.map-wid {
	width: 250px
}

.float-right {
	float: right;
}

input[type="datetime-local"]:read-only {
	margin-left: 15px;
	height: 22px;
	font-size: 13px;
	font-weight: bold;
	width: 200px;
	border: none;
}

#write-btn {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 15px;
}

#sub-btn {
	margin-left: 15px;
	margin-top: 3px;
}

.edt_btn {
	margin-left: 20px;
}

.schedule button{
	border:none;
	border-radius: 10px;
	border-color: rgb(45, 45, 45);
	margin: 2px 0px;
	padding:1px 3px;
    background-color: gray;
	box-shadow: 0 0 2px 2px darkgray;
    color: ghostwhite;
}

.schedule button:hover {
	cursor:pointer;
    background-color: white;
	box-shadow: 0 0 2px 2px ghostwhite;
    color: gray;
}
