<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" type="text/css" href="/css/friend/button.css"	/>
	<link rel="stylesheet" type="text/css" href="/css/friend/list.css"	/>
	<link rel="stylesheet" type="text/css" href="/css/header.css"	/>
	<link rel="stylesheet" type="text/css" href="/css/friend/friendBar.css"	/>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
	<header th:replace="~{/fragments/header :: header}"></header>
	<div th:replace="~{fragments/friendBar :: friendHeader}"></div>
	<main class="listMain">
		<input type="hidden" id="status" th:value="${status}"	/>
		<div class="list_table">
			<table>	<!-- 이 페이지에서는 정/역 방향 설정 완료 my_id=나, friend_id=친구 -->
				<tr>
					<th class="list_title" colspan="6">
						<span>친구목록</span>
					</th>
				</tr>
				<tr class="receive_sub_tr">
					<th class="list_td1" colspan="2">친구이메일</th>
					<th class="list_tr2" colspan="2">친구별명</th>
					<th class="list_td3" colspan="2">친구메모</th>
				</tr>
				<tr th:each="friendDTO : ${friendList}" class="list_tr">
					<!-- 이메일 -->
					<td class="list_td1" colspan="2">
						<form action="/friend/info" method="get" th:attr="id='infoForm' + ${friendDTO.friend_id}">
							<a onclick="infoForm()" class="infoA" th:attr="data-info='infoForm' + ${friendDTO.friend_id}" href="javascript:void(0);">
								[[${friendDTO.member_email}]]
							</a>
							<input type="hidden" name="friend_id" th:value="${friendDTO.friend_id}"			/>
							<input type="hidden" name="friend_status" th:value="${friendDTO.friend_status}"			/>
						</form>
					</td>
					<!-- 별명 -->
					<!-- 나타나 있음 -->
					<td class="list_td" th:if="${friendDTO.friend_nickname == '' || friendDTO.friend_nickname == null}">
						<input type="text" maxlength="16" style="width: 90px;"
						th:attr="id='nameI' + ${friendDTO.friend_id}"
						th:value="${friendDTO.member_name}" class="nameI"   disabled/>
					</td>
					<td th:unless="${friendDTO.friend_nickname == '' || friendDTO.friend_nickname == null}">
						<input type="text" maxlength="16" style="width: 90px;"
						th:attr="id='nameI' + ${friendDTO.friend_id}"
						th:value="${friendDTO.friend_nickname}" class="nameI"   disabled/>
					</td>
					<td class="list_tdBtn">
						<form action="/friend/nickname" method="post" th:attr="id='nickForm' + ${friendDTO.friend_id}">
							<input type="hidden" name="friend_id" th:value="${friendDTO.friend_id}"	/>
							<input type="hidden" name="friend_status" th:value="${friendDTO.friend_status}"	/>
							<div th:if="${friendDTO.friend_status == 'C'}">
								<input type="hidden" name="friend_my_nickname" th:value="${friendDTO.friend_my_nickname}"	/>
								<!-- 텍스트박스에 입력된 밸류 가져와서 서밋 (텍스트박스가 form 밖에있음) -->
								<input type="hidden" name="friend_nickname"
								 th:attr="id='nameH' + ${friendDTO.friend_id}"	/>
							</div>
							<div th:if="${friendDTO.friend_status == 'B'}">
								<input type="hidden" name="friend_my_nickname" th:value="${friendDTO.friend_my_nickname}"	/>
								<!-- 텍스트박스에 입력된 밸류 가져와서 서밋 (텍스트박스가 form 밖에있음) -->
								<input type="hidden" name="friend_nickname"
								 th:attr="id='nameH' + ${friendDTO.friend_id}"	/>
							</div>
							
							<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
							
							<!-- 서밋 버튼 -->
							<button type="button" style="display: none;"
							 th:attr="id='submitBtn' + ${friendDTO.friend_id}" class="submitBtn custom-btn btn-kw">
								<span>변경</span>
							</button>
						</form>
						
						<!-- 숨김 버튼 / 클릭 시 인풋박스, 서밋버튼 나타냄 / 텍스트, 클릭한 버튼 숨김-->
						<button class="hideBtn custom-btn btn-kw" type="button"
						 th:attr="data-hide='nameT' + ${friendDTO.friend_id},
						 data-show='nameI' + ${friendDTO.friend_id},
						 data-submit='submitBtn' + ${friendDTO.friend_id},
						 data-hidden='nameH' + ${friendDTO.friend_id},
						 data-nick='nickForm' + ${friendDTO.friend_id}">
							<span>변경</span>
						</button>
					</td>
					<!-- 메모 -->
					<div th:if="${friendDTO.friend_status == 'B'}">
						<td colspan="2" class="memo_td">
							<div th:attr="id='memoT' + ${friendDTO.friend_id}"
							 th:text="${friendDTO.friend_memo}" class="memoT">
							</div>
						</td>
					</div>
					<div th:if="${friendDTO.friend_status == 'C'}">
						<td colspan="2" class="memo_td">
							<div th:attr="id='memoT' + ${friendDTO.friend_id}"
							 th:text="${friendDTO.friend_memo}" class="memoT">
							</div>
						</td>
					</div>
				</tr>
			</table>
		</div>
	</main>
	<!-- 반복문으로 꺼낸 숨김버튼에 속성을 부여함 / 이메일 클릭 시 친구정보로 직접 서밋 -->
	<script type="text/javascript" src="/js/friend/friendList.js"></script>
	<script type="text/javascript" src="/js/header.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>