	 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>로그인</title>
<link rel="stylesheet" type="text/css" href="/css/member/login.css">
<link rel="stylesheet" type="text/css" href="/css/header.css"/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
		<main class="loginMain">
		<form class="loginForm" method="post">
		<h1 class="mainLogo">PLANDAS</h1>
			<input type="hidden" id="result" th:value="${result}">
			<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
			<input type="email" name="member_email" id="email" placeholder="이메일을 입력하세요"	/>
			<input type="password" name="member_password" id="pw" placeholder="비밀번호를 입력하세요"/>
			<input type="submit" value="로그인" class="loginBtn"	/>
		</form>
		<div class="joinBtn">
			<p class="join_a"><a class="join_a" sec:authorize="isAnonymous()" href="/member/anon/find/pw">PW 찾기</a>
			| <a class="join_a" sec:authorize="isAnonymous()" href="/member/anon/insert">회원가입</a> | <a class="join_a" sec:authorize="isAnonymous()" href="/member/anon/restore">회원복구</a></p>
		</div>
		<div class="btnBox">
			<a class="googleBtn" href="/oauth2/authorization/google?mode=login"><img src="/images/web_neutral_rd_na@4x.png" class="googleLogo"></a>
			<a class="kakaoBtn" href="/oauth2/authorization/kakao?mode=login"><img src="/images/kakao.webp" class="kakaoLogo"></a>
		</div>
	</main>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/header.js"></script>
	<script type="text/javascript" src="/js/member/login.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>