<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
		<title>내 정보</title>
	<link rel="stylesheet" type="text/css" href="/css/member/info.css"	/>
	<link rel="stylesheet" type="text/css" href="/css/header.css"	/>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<header th:replace="~{/fragments/header :: header}"></header>
  	<main class="infoMain">
  	<div id="con">
		<input type="hidden" id="status" th:value="${memberDTO.member_status}">
		<table class="infoTable">
			<tr>
				<th class="i_title" colspan="3">
					<span>내정보</span>
				</th>
			</tr>
			<tr class="i_tr">
				<th class="i_th">이메일</th>
				<td class="i_td">
					<span th:text="${memberDTO.member_email}"></span>
				</td>
				<td class="i_td1-1">
					<a th:if="${memberDTO.oauth_id =='none'}" class="modifyBtn" href="/member/auth/pw/chk?url=update">수정 ></a>
					<a th:if="${memberDTO.oauth_id !='none'}" class="modifyBtn" href="/member/auth/update">수정 ></a>
				</td>
			</tr>
			<tr class="i_tr">
				<th class="i_th">회원명</th>
				<td class="i_td" colspan="2">
					<span th:text="${memberDTO.member_name}"></span>
				</td>
			</tr>
			<tr class="i_tr">
				<th class="i_th">생일</th>
				<td class="i_td" colspan="2">
					<span th:text="${#temporals.format(memberDTO.member_birth,'yyyy/MM/dd')}"></span>
				</td>
			</tr>
			<tr class="i_tr">
				<th class="i_th">전화번호</th>
				<td class="i_td" colspan="2">
					<span th:text="${memberDTO.member_phone}"></span>
				</td>
			</tr>
			<tr class="i_tr">
				<th class="i_th">성별</th>
				<td class="i_td" colspan="2">
					<span th:text="${gender}"></span>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<!-- 비밀번호 변경 -->
					<a class="userPwBtn" href="/member/anon/find/pw" th:if="${memberDTO.oauth_id =='none'}">비밀번호 변경</a>
					<!-- 일반 로그인 -->
					<a th:if="${memberDTO.oauth_id =='none'}" class="userDeleteBtn" href="/member/auth/pw/chk?url=delete">회원탈퇴</a>
					<!-- 소셜 로그인 -->
					<button th:if="${memberDTO.oauth_id !='none'}" type="button" class="userDeleteBtn">회원탈퇴</button>
				</td>
			</tr>
		</table>
  	</div>
	</main>
	<script src="/js/common.js"></script>
	<script type="text/javascript" src="/js/member/memberInfo.js"></script>
	<script type="text/javascript" src="/js/header.js"></script>
</body>
</html>