<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>비밀번호검사</title>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<link rel="stylesheet" type="text/css" href="/css/header.css"	/>
	<link rel="stylesheet" type="text/css" href="/css/member/pw_chk.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
<body>
	<header th:replace="~{/fragments/header :: header}"></header>
	<main class="pwChkMain">
		<div class="pwChkBox">
			<span class="pwChkText">비밀번호 인증을 위해 <br>현재 비밀번호를 입력하세요</span>
			<input type="password" id="pw" name="member_password" placeholder="현재 비밀번호를 입력하세요">
			<button type="button" class="pwChkBtn" th:value="${url}">확인</button>
		</div>
	</main>
		<script  src="/js/member/memberPasswordChk.js"></script>
		<script src="/js/header.js"></script>
		<script  src="/js/common.js"></script>
</body>
</html>