<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planner.mapper.EmailMapper">
	
	<!-- 인증코드 저장 -->
	<insert id="saveAuthCode">
		INSERT INTO email(
			email_id,
			to_email,
			auth_code,
			chk_status,
			code_reg
		) VALUES (
			email_seq.nextval,
			#{toEmail},
			#{authCode},
			#{codeStatus},
			sysdate
		)
	</insert>
	
	<!-- 인증코드 검증 -->
	<select id="authCodeChk" resultType="int">
		SELECT	count(*)
		FROM 	email
		WHERE 
			to_email = #{toEmail} and auth_code = #{authCode}
	</select>
	
	<!-- 인증기록 존재여부 -->	
	<select id="isExists">
		SELECT 	count(*)
		FROM	email
		WHERE
			to_email = #{toEmail}
	</select>
	
	<!-- 인증상태 가져오기 -->
	<select id="findStatusByToEmail" resultType="String">
		SELECT 	chk_status 
		FROM 	email
		WHERE
			to_email = #{toEmail}
	</select>
	
	<!-- 인증 확인 상태변경 -->
	<update id="updateCodeChk">
		UPDATE email
		set chk_status = #{codeStatus}
	</update>
	
	<!-- 인증기록 삭제 -->
	<delete id="deleteEmailAuthCode">
		DELETE
		FROM email
		WHERE to_email = #{toEmail}
	</delete>
	
	<!-- 인증기록 잉여데이터 전체삭제 -->
	<delete id="removeAll">
		DELETE
		FROM email
	</delete>
</mapper>