<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf_token" th:content="${_csrf.token}">
	<meta name="team_id" th:content="${dto.team_id}">
	<meta name="member_id" th:content="${dto.member_id}">
	<meta name="org_nick" th:content="${dto.tm_nickname}">
	<title>그룹 회원 정보</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/team/teamCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/team/member/tminfo.css">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.1/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/js/team/member/tminfo.js" defer></script>
	<script type="text/javascript" src="/js/header.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div id="main-container"> <!-- main-container 시작 -->
<div class="sbox oi-btn">
<form th:action="update" th:method="put" id="info_update">
<input type="hidden" name="team_id" id="team_id" th:value="${dto.team_id}">
<table>
	<tr>
		<td>그룹 명
		<td th:text="${dto.team_name}">
	<tr>
		<td><label for="tm_nickname">별명</label>
			<!--/* 한 페이지에서 정보 출력, 수정 전환 */-->
		<td><input th:field="${dto.tm_nickname}" class="ul-input" placeholder="그룹내 별명 중복 금지" maxlength="16" disabled>
			<button id="nick_check" type="button" class="dpn float-right">중복검사</button>
	<tr class="dpn">
		<td colspan="2">
			<span id="check_msg" class="text-center" style="color:red;">중복검사가 필요합니다.</span>
	<tr>
		<td>등급
		<td th:text="${dto.tm_grade}">
	<tr>
		<td>그룹 참가 일자
		<td th:text="${#temporals.format(dto.tm_reg, 'yyyy-MM-dd')}">
	<tr>
		<td colspan="2">
			<th:block th:if="${dto.member_id == member_id}">
			<!--/* 본인의 정보면 출력 */-->
			<div id="show" style="display:block;" class="text-right">
				<button type="button" name="update" class="update_toggle">수정</button>
				<button th:if="${dto.tm_grade != 'TEAM_MASTER'}" type="button" name="delete" id="delete">그룹 탈퇴</button>
			</div>
			<div id="hide" class="dpn text-right">
				<button type="button" id="update_btn" disabled>수정</button>
				<button type="button" class="update_toggle">취소</button>
			</div>
			</th:block>
</table>
</form>
</div>
</div> <!-- main-container 끝 -->
</body>
</html>