<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="tm_grade" th:content="${tm_grade}">
<meta name="team_id" th:content="${team_id}">
<title>Calendar</title>
<link rel="stylesheet" type="text/css" href="/css/header.css" >
<link rel="stylesheet" type="text/css" href="/css/calendar/calendar.css">
<link rel="stylesheet" type="text/css" href="/css/map/kakaomap.css">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f0705776345a6b686de0b391cfcd66b8&libraries=services"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="calendar-body">
<header th:replace="~{/fragments/header :: header}"></header>
  <div th:if="${msg}" th:text="${msg}" id="flashMessage" style="display: none;"></div>
	<div id="alldiv" th:fragment="calendar">
		<div class="calendar">
		<div id="schedule_count_div"><span id="schedule_count">0</span> 개의 일정이 있습니다.</div>
		<div id="go-date-div">
			<input type="date" id="go_date_input" max="9999-12-31">
			<button type="button" id="go_date_btn">이동</button>
		</div>
			<div style="margin: auto;">
				<button onclick="previousMonth()" class="btn-calendar">&lt;&lt;</button>
				<span class="month-name"></span>
				<button onclick="nextMonth()" class="btn-calendar">&gt;&gt;</button>
			</div>
			<div class="weekdays"></div>
			<div class="days"></div>
		</div>
		<div style="height: 1px; width:50px;"></div>
		<div class="schedule"></div>
	</div>
	<script type="text/javascript" src="/js/header.js"></script>
	<script th:src="@{/js/calendar/calendar.js}"></script>
</body>
</html>