<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" type="text/css" href="/css/intro.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrap">
		<div class="container">
			<img src="/images/intro1.png">
		</div>
		<div class="container">
			<img src="/images/intro2.png">
		</div>
		<div class="container">
			<img src="/images/intro3.png">
		</div>
		<div class="container" style="background-color: #FCFCF0">
			<img src="/images/intro4.png">
			<a href="/planner/main"><button type="button" id="sign-btn" > owo</button></a>
		</div>
	</div>
		<script src="/js/intro.js"></script>
</body>
</html>