.friend_nav {
    position: relative;
	margin-top: 6px;
}

.friend_nav a {
	color: inherit;
	text-decoration: none;
}

.friend_menu {
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;
	overflow: hidden;
}
.friend_menu li {
	font-weight: bold;
	color: darkslategray;
	font-size: 14px;
}

.fr-container {
	width: calc(90% - 40px);
	margin: auto;
}