.receiveMain {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.receive_table {
	width: 600px;
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px 1px lightgray;
}

.receive_table a {
	text-decoration:none;
	color: blueviolet;
}

.receive_sub_tr {
	font-size: 18px;
	color: darkgray;
}

.receive_tr {
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: center; */
	height: 1.8em;
}

.receive_a {
	font-size: 16px;
	color: purple;
	
}

.receive_tr1 {
	width: 120px;
}

.receive_td1 {
	width: 120px;
	overflow: hidden;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.receive_td2 {
	width: 120px;
    text-align: center;
}
.receive_td2 .td_name {
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 0 0 10px;
	box-sizing: border-box;
}

.receive_td3 {
	width: 40px;
	display: flex;
	align-items: center;
}

.receive_title {
	color: gray;
	font-weight: bold;
	font-size: 27px;
	padding-bottom: 30px;
}