@charset "UTF-8";

#oauthTypeBox {
	display: none;
	margin-bottom: 15px;
}

#oauth_type {
	font-size: 15px;
	width: 40%;
	margin: 15px 0 15px 0;
	border : 1px solid #ddd;
	text-align: center;
	color : gray;
	height: 30px;
}

.socialChkBox {
	margin-bottom: 15px;
}

.restoreMain {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

.inputCon {
	width: 400px;
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 2px #ddd;
	border: 1px solid #ddd;
}

.inputBox>input {
	font-size: 20px;
	width: 100%;
	margin: 15px 0 15px 0;
	border-style: none;
	border-bottom: 2px solid #ddd;
}

.inputBox>input:focus {
	outline: none;
	border-bottom: 2px solid skyblue;
}

.inputBox>input::placeholder {
	font-size: 15px;
}

.restoreBtn {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: gray;
	margin-top: 50px;
	height: 45px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: white;
}

.restoreText {
	color: gray;
	font-weight: bold;
	font-size: 27px;
	margin-bottom: 20px;
}

.chkText {
	font-size: 13px;
	color: gray;
}

#isOAuth {
	width: 10px;
	height: 10px;
}