@charset "UTF-8";

.updateMain {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.updateForm {
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 3px #ddd;
}
/* input */
.updateForm>input {
	font-size: 20px;
	width: 100%;
	margin: 15px 0 15px 0;
	border-style: none;
	border-bottom: 2px solid #ddd;
}

.updateForm>input:focus {
	outline: none;
	border-bottom: 2px solid skyblue;
}

.updateForm>input::placeholder {
	font-size: 15px;
}
.updateText{
	color: gray;
	font-weight: bold;
	font-size: 27px;
	margin-bottom: 20px;
}
.saveBtn,.cancelBtn {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: gray;
	margin: 15px;
	height: 45px;
	border: 2px solid gray;
	border-radius: 10px;
	background-color: white;
}
.btns{
	display: flex;
	flex-direction: row;
}